@{
    ViewBag.Title = "Sample App";
}

<div id="bodyContainer" ng-app="QuizApp">
    <section id="content">
        <div class="container">
            <div ng-controller="QuizCtrl" ng-init="nextQuestion()">
                <br />
                    <p>Your answer: {{answer()}}</p>
                    <p>
                        <button class="btn btn-info" ng-click="nextQuestion()" ng-disabled="working">Next Question</button>
                    </p>
                <hr />

                <div>
                    <p>Question: {{title}}</p>
                    <div ng-repeat="option in options">
                        <br />
                        <button class="btn"  ng-click="sendAnswer(option)" ng-disabled="working">{{option.title}}</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/app/quiz-controller.js")
}
