@{
    ViewBag.Title = "Home Page";
}


<div class="row">

    <div class="col-md-4">
        <h2>Contorll Routing Test</h2>
	    <p>just a smaple page!</p>
		<p>@Html.ActionLink("see the blog", "ShowArchive", "Blog")</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>

</div>